:root {
  --color-primary: #ff577f;
  --color-primary-focus: #ff427f;
  --color-primary-negative: #59323f;

  --grey-4: #121214;
  --grey-3: #212529;
  --grey-2: #343b41;
  --grey-1: #868e96;
  --grey-0: #f8f9fa;

  --sucess: #3fe864;
  --negative: #e83f5b;
}

body {
  background-color: var(--grey-4);
}

.container {
  width: 780px;
  margin: 0 auto;
}

.openModal {
  height: 32px;
  width: 32px;

  background-color: var(--grey-2);
  color: var(--grey-0);
  font-size: 25px;

  border: none;
  border-radius: 4px;
}

.modal {
  width: 369px;
  height: 342px;

  display: flex;
  flex-direction: column;

  background-color: var(--grey-3);
  border-radius: 4px;
}

.overlay {
  height: 100vh;
  min-width: 100%;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.452);
}
