@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import "./styles/global.css";
@import "./styles/colors.css";
@import "./styles/typografy.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}
